button{
    display: flex;
    background-color: #3B82F6;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 20px; 
    width: 125px;
    height: 16px;
    justify-content: center;
    align-items: center;
}